/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  /* Custom styles */
  body {
	font-family: 'Arial', sans-serif;
	background-color: #F8E9A1;
  }
  
  .container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
  }
  
  h1 {
	font-size: 48px;
	margin-bottom: 30px;
	color: #b042b4;
  }
  
  #content {
	margin-bottom: 30px;
  }
  
  #message {
	font-size: 24px;
	color: #690e13;
	margin-bottom: 20px;
  }
  
  #picture {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 400px;
  }
  
  .small {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
  }
  
  .caption {
	font-size: 18px;
	color: #e21313;
	text-align: center;
  }
  button {
	background-color: #380338;
	border: none;
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  button:hover {
	background-color: #FFB6C1;
	color: #fff;
  }
  
